// FONTS
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

// VARIABLES
$main-font: 'Raleway', sans-serif;
$container-width: 1170px;
$section-padding: 20px;

$bg-color: #f3f2f1;
$primary-color: #ff9800;
// $text-color: #333;
