// EFFETS - ANIMATIONS
.shape-01 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid $primary-color;
  right: 5%;
  top: 20%;
  animation: spin 5s linear infinite;
}

.shape-02 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid $primary-color;
  left: 30px;
  top: 30px;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
